$main-color: #e97cd7;
$secondary-color: #639fab;
$text-color: #ffffff;
$bg-color: #000000;

@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./assets/fonts/Inter-VariableFont_slnt,wght.woff2"), format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

html {
    width: 100vw;
    height: 100vh;
    max-width:100%;
    overflow-x: hidden;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.25rem;
}
.no-show {
    display: none;
}
.LogIn{
    margin-left: clamp(0rem,1vw,1rem);
    white-space: nowrap;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 4px solid $secondary-color;
    color: $text-color;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    &:hover{
        cursor: pointer;
        background-color: $main-color;
        border-color: $main-color;
        color: $bg-color;
    }
    @media (min-width: 768px){
        font-size: clamp(1rem,2vw,1.5rem);

    }
    @media (min-width: 1024px){
        padding: 1rem 1.5rem;
    }
}
.SignUp{
    white-space: nowrap;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 4px solid $secondary-color;
    background-color: $secondary-color;
    color: $bg-color;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    &:hover{
        cursor: pointer;
        background-color: $main-color;
        border-color: $main-color;
        color: $bg-color;
    }
    @media (min-width: 768px){
        font-size: clamp(1rem,2vw,1.5rem);
        
    }
    @media (min-width: 1024px){
        padding: 1rem 1.5rem;
    }
    margin-left: clamp(0rem,1vw,2rem);
}
body {

    width: 100vw;
    height: 100vh;
    max-width:100%;
    background-color: $bg-color;
}
.Header {
    margin-top: 24px;
    @media (min-width:768px){
        margin-top: clamp(24px,5vw,36px);
    }
}
.HeaderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    @media (min-width:768px){
        margin: 0 clamp(20px,4.5vw,80px);
    }
}
.Logo{
    flex: 1;
}
.LogoImage {
    filter: drop-shadow(6.62498px 4.41665px 2.20833px rgba(233, 124, 215, 0.5));
    width: 60px;
    // background-color: black;
    border-radius: 0.9rem;
    height: auto;
    &:hover{
        filter: invert(56%) sepia(39%) saturate(354%) hue-rotate(142deg) brightness(95%) contrast(92%) drop-shadow(6.62498px 4.41665px 2.20833px rgba(99, 159, 171, 0.5));
    }
    @media (min-width: 480px){
        width: clamp(60px,8vw,135px)
    }
}
.ToggleNav {
    background: none;
    border: none;
    &:hover{
        cursor: pointer;
        filter: invert(74%) sepia(78%) saturate(1735%) hue-rotate(276deg) brightness(97%) contrast(87%);
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.NavList{
    
    display: none;
    
    @media (min-width: 768px) {
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        
    }
}
.VerticalList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.VerticalNav{
    width: 100%;

}
.NavListItem{
    margin: 1rem 0;
}
.NavListLink{
    white-space: nowrap;
    color: $text-color;
    text-decoration: none;
    padding: 1rem 0;
    &:hover{
        cursor: pointer;
        color: $main-color;
    }
    font-size: 1rem;
    @media (min-width: 768px){
        font-size: clamp(1rem,2vw,1.5rem);
        padding: 2rem clamp(0rem,1vw,2rem);
        &:hover{
            border-bottom: 4px solid $main-color;
        }
    }
    @media (min-width: 1440px){
    
    }
}
.Hero {
    margin: 2rem 0;
    @media (min-width:768px){
        margin: clamp(2rem,4vw,4rem) 0;
    }
}
.HeroContainer {
    margin: 0 20px;
    @media (min-width:768px){
        display: flex;
        margin: 0 clamp(20px,4.5vw,80px);
    }

}
.HeroContent{
    @media (min-width:768px){
        flex: 1;
    }
}

.MainHeading {
    line-height: 112.5%;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    @media(min-width: 480px){
        font-size: clamp(2rem,5vw,4.5rem);
        margin-bottom: clamp(1rem,4vw,3rem);
    }
}
.HeroText {
    line-height: 137.5%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,2.25rem);
        margin-bottom: clamp(1rem,4vw,2rem);
    }
}
.CTAContent {
    margin-bottom: 1rem;
}
.ButtonPrimary {
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: $secondary-color;
    color: $bg-color;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    &:hover{
        cursor: pointer;
        background-color: $main-color;
        color: $text-color;
    }
    @media(min-width: 480px){
        font-size: clamp(1rem,1.35vw,1.5rem);
    }
    @media (min-width: 1024px){
        padding: 1.25rem 1.5rem;
    }
}

.HeroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:768px){
        flex: 1;
    }
}
.HeroImage img {
    width: 301px;
    height: auto;
    @media (min-width: 480px){
        flex: 0.75;
    }
    @media (min-width:768px){
        flex: 1;
    }
}

.StepsContainer {
    margin: 0 20px;
    @media (min-width:768px){
        margin: 0 clamp(20px,4.5vw,80px);
    }
}
.SectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    @media(min-width: 480px){
        font-size: clamp(1.25rem,2.7vw,3rem);
        margin-bottom: clamp(2rem,5vw,5rem);
        margin-top: clamp(0rem,5vw,5rem);
    }
}
.LeftBubbles{
    display: none;
    @media(min-width: 768px){
        display: block;
    }
}
.LeftBubbles img{
    width: clamp(120px,10vw,180px);
    height: auto;
}
.RightBubbles{
    display: none;
    @media(min-width: 768px){
        display: block;
    }
}
.RightBubbles img{
    width: clamp(120px,10vw,180px);
    height: auto;
}
.StepsContent {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    @media(min-width: 768px){
        grid-template-columns: auto auto auto;
        column-gap: 2rem;
        place-items: center;
    }
    
}
.ArrowIcon{
    display: none;
    @media (min-width: 1024px){
        display: block;
        width: clamp(20px,2vw,60px);
        align-self: center;
        margin-bottom: 3rem;
    }
}
.StepsFold {
    display: flex;
    flex-direction: column;
}
.Step {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.StepIcon {
    padding-right: 1rem;
    width: 40px;
    height: auto;
    @media (min-width: 768px){
        width: clamp(40px,5vw,80px);
        padding-right: clamp(1rem,3vw,4rem);
    }
}
.StepLink {
    text-decoration: none;
    color: $secondary-color;
    font-weight: 700;
    &:hover{
        cursor: pointer;
        color: $main-color;
    }
}

.StepText {
    font-size: 1rem;
    line-height: 1.375rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2vw,2.25rem);
    }
}
.Gallery {
    margin-bottom: 2rem;
}
.GalleryContent {
    display: flex;
    flex-direction: column;
}
.ImageSlider {
    display: grid;
    place-items: center;
    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        row-gap: clamp(0px,5vw,4rem);
    }
}
.GalleryContainer {
    margin: 0 20px;
    @media (min-width:768px){
        margin: 0 clamp(20px,4.5vw,80px);
    }
}

.GalleryImage img {
    width: 280px;
    height: auto;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    @media (min-width: 480px) {
        width: clamp(280px,60vw,1600px);
        height: auto;

    }
    @media (min-width: 768px) {
        width: clamp(280px,40vw,1600px);
        aspect-ratio: 1.6; 
    }
}
.NoImage{
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}
.GalleryLink {
    font-size: 1rem;
    font-weight: 200;
    align-self: center;
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: $secondary-color;
        font-weight: bold;
    }
    @media (min-width: 768px) {
        display: none;
    }
}
.TestimonialsContainer {
    margin: 0 20px;
    @media (min-width:768px){
        margin: 0 clamp(20px,4.5vw,80px);
    }
}
.Testimonial {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.TestimonialsGrid {
    display: grid;
    grid-template-columns: 1fr;
    
    @media(min-width: 480px){
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;

    }
    @media(min-width: 768px){
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
    }
}

.TestimonialText {
    font-size: 1rem;
    line-height: 125%;
    font-weight: 200;
    margin-bottom: 0.5rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2vw,2rem);
        margin-bottom: clamp(0.5rem,2vw,1.5rem);
    }
}
.TestimonialAuthor {
    font-size: 1rem;
    line-height: 125%;
    font-weight: 200;
    text-align: right;
    @media(min-width: 480px){
        font-size: clamp(1rem,2vw,2rem);
    }
}
.CauseContainer {
    margin: 0 20px;
    @media (min-width:768px){
        margin: 0 clamp(20px,4.5vw,80px);
    }
}
.CauseContent{
    @media(min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
    @media(min-width: 1280px){
        grid-template-columns: 1.2fr 0.6fr 1.2fr;
        column-gap: 2rem;
    }
}
.SaveImage{
    display: none;
    @media(min-width: 1280px){
    display: block;
        width: clamp(180px,20vw,240px);
    
    justify-self: center;
    }
    
}
.Organizations{
    display: flex;
    flex-direction: column;
    @media(min-width: 480px){
        flex-direction: row;
        align-items: center;
    }
    @media(min-width: 768px){
        flex-direction: column;
        flex: 1;
    }
}
.OrganizationsText {
    line-height: 125%;
    font-weight: 200;
    font-size: 1rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2vw,1.5rem);
        flex: 1;   
    }
    @media(min-width: 768px){
        flex: 0;
    }
}

.OrganizationsGrid {
    background-color: $text-color;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    row-gap: 2rem;
    border-radius: 0.5rem;
    width: 300px;
    @media(min-width: 480px) and (max-width: 768px){
        flex-direction: row;
        align-items: center;
        flex: 1;
        row-gap: 0.5rem;
        margin-left: 1.5rem;
        
    }
    @media(min-width: 768px){
        margin-top: clamp(1rem, 4vw, 3rem);
        width: clamp(300px,40vw,450px);
        padding: clamp(1rem,4vw,4rem) 0;
        img{
            transform: scale(1.25);
        }
    }
    align-self: center;
}

.Oceana img {
    width: 111px;
    height: auto;
}
.NRDC img {
    width: 68px;
    height: auto;
}
.OC img {
    width: 111px;
    height: auto;
}
.SL img {
    width: 88px;
    height: auto;
}

.SectionSubTitle {
    color: $main-color;
    font-weight: 700;
    font-size: 1.25rem;
    @media(min-width: 768px){
        font-size: clamp(1.25rem,2vw,2.25rem)
    }
    margin-bottom: 1rem;
}
.Donation {
    margin-top: 2rem;
    @media(min-width: 768px){
        margin-top: 0rem;
        flex: 1;
    }
}
.DonationText {
    font-size: 1rem;
    line-height: 125%;
    font-weight: 200;
    margin-bottom: clamp(1rem,4vw,1.75rem);
    @media(min-width: 480px){
        font-size: clamp(1rem,2vw,1.5rem);
    }
}
.DonationContent {
    display: flex;
    flex-direction: column;
}
.DonationLabel {
    font-size: 1rem;
    line-height: 125%;
    margin-bottom: clamp(1rem,4vw,1.75rem);
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
    }
}
.NGOList {
    color: $main-color;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: $secondary-color;
    }
}

.StaticDonation {
    display: flex;
    justify-content: space-between;
    @media (min-width: 480px) and (max-width:768px){
        justify-content: space-evenly;
    }
    margin: 1rem 0;
}

.DonationOption {
    background-color: inherit;
    width: 58px;
    height: 37px;
    color: $text-color;
    border: 4px solid $main-color;
    border-radius: 0.5rem;
    font-weight: 700;
    @media(min-width: 480px){
        font-size: clamp(1rem,1.25vw,1.5rem);
        width: clamp(58px,6vw,140px);
        height: clamp(37px,5vw,60px);
        &:hover {
                cursor: pointer;
                background-color: $secondary-color;
                color: white;
                border: 4px solid $secondary-color;
            }
    }

}
.SelectedOption {
    background-color: $main-color;
    color: $bg-color;
}

.AlternativeDonationText {
    align-self: center;
    margin-bottom: clamp(1rem,4vw,1.75rem);
    font-size: clamp(1rem,2vw,1.5rem);
}

.CustomDonation {
    align-self: center;
    width: 100%;
}

.DonationInput {
    color: $text-color;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
        height: clamp(50px,6vw,80px);
    }
    font-weight: bold;
    border: 4px solid $main-color;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    &::placeholder {
        font-family: "Inter";
        color: $text-color;
        opacity: 0.5;
        font-weight: 400;
    }
    &:focus {
        outline: none;
    }
}

.DonationSubmit {
    width: fit-content;
    background-color: $main-color;
    border: none;
    width: 130px;
    border-radius: 0.5rem;
    height: 50px;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
        width: clamp(130px,10vw,300px);
        height: clamp(50px,5vw,90px);
    }
    font-weight: 700;
    &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        color: white;
    }
}
.CauseStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    
    background-color: rgba(99, 159, 171, 0.6);
    padding: 1rem 0;
    margin-bottom: 1rem;
    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0;
        padding: 2rem 0;

    }
}
.StatItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
    }
}
.FooterContainer {
    margin: 0 20px;
    @media (min-width:768px){
        margin: clamp(1rem,4vw,4rem) clamp(20px,4.5vw,80px);
    }
}
.FooterSection {
    margin: 1rem 0;
    
}
.FooterGrid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    @media(min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 1024px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.FooterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(min-width:768px){
        align-items: flex-start;
    }
}
.FooterHeading {
    text-align: center;
    font-size: 1.25rem;
    @media(min-width:768px){
        font-size: clamp(1.25rem,2vw,2.25rem);
        text-align: left;
    }
    font-weight: 700;
    margin-bottom: clamp(1rem,4vw,1.75rem);
}
.FooterItem {
    margin-bottom: clamp(0.5rem,4vw,1.25rem);
    
}
.FooterLink {
    color: $text-color;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
    line-height: 125%;
    @media(min-width:768px){
        font-size: clamp(1rem,2vw,1.5rem);
        
    }
    &:hover{
        color: $main-color;
    }
}

.NewsletterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width:768px){
        align-items: flex-start;
    }
    justify-content: center;
    margin: 1rem 0;
}
.NewsletterTitle {
    font-size: 1.25rem;
    @media(min-width:768px){
        font-size: clamp(1.25rem,2vw,2.25rem);
    }
    font-weight: 700;
    margin-bottom: clamp(1rem,4vw,1.75rem);
}
.NewsletterHeading {
    align-self: flex-start;
    font-size: 1rem;
    line-height: 125%;
    font-weight: 200;
    margin-bottom: clamp(1rem,4vw,1.75rem);
    @media(min-width:768px){
        font-size: clamp(1rem,2vw,1.5rem);
    }
}
.NewsletterEmail {
    color: $text-color;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border: 4px solid $main-color;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    &::placeholder {
        font-family: "Inter";
        color: $text-color;
        opacity: 0.5;
        font-weight: 400;
    }
    &:focus {
        outline: none;
    }
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
        height: clamp(50px,6vw,80px);
    }
}
.NewsletterSubmit {
    background-color: $main-color;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    height: 50px;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;
    &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        color: white;
    }
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
        height: clamp(50px,5vw,90px);
    }
}
.Extras{
    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.GetInTouch{

        @media (min-width: 1024px){
    grid-column-start: 1;
    }
}
.Work{

    @media (min-width: 1024px){
    grid-column-start: 3;
        }
}
.ExtrasLinks{
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px){
        display: flex;
    flex-direction: row;

    }
}
.GetInTouch,
.Work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    @media(min-width: 768px){
        align-items: flex-start;
        margin-top: 2rem;
    }

}
.SectionLink {
    box-sizing: border-box;
    text-align: center;
    border: 4px solid $main-color;
   
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    width: 187px;
    padding: 1rem 0;
    font-size: 1rem;
    @media(min-width:768px){
        font-size: clamp(1rem,1.8vw,1.5rem);
        width: clamp(187px,20vw,320px);
        margin-right: 2rem;
    }
    font-weight: 700;
    text-decoration: none;
    color: $text-color;
    &:hover{
        background-color: $secondary-color;
        border: 4px solid $secondary-color;
        color: $bg-color;
    }
}
.ExtraSectionTitle{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    @media(min-width: 480px){
        font-size: clamp(1.25rem,2.7vw,2.25rem);
        margin-bottom: clamp(2rem,4vw,3.5rem);
        margin-top: 1rem;
    }
}
.Copyright {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    @media(min-width: 480px){
        font-size: clamp(1rem,2.5vw,1.5rem);
        padding-top: 3.25rem;
        padding-bottom: 4.25rem;
    }
}
