$main-color: #E97CD7;
$secondary-color: #639FAB;
$text-color: #ffffff;
$bg-color: #000000;

@font-face {
    font-family: 'Inter';
    src: local("Inter"), url("./assets/fonts/Inter-VariableFont_slnt,wght.woff2"), format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.25rem;
    
}
.no-show{
    display: none;
}
body{
    background-color: $bg-color;
}
.Header{
   
    margin-top: 24px;
}
.HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
.LogoImage{
    width: 60px;
    height: auto;
}
.ToggleNav{
    background: none;
    border: none;
}
.Hero{
    margin: 2rem 0;
}
.HeroContainer{
    margin: 0 20px;
}
.MainHeading{
    line-height: 2.25rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.HeroText{
    line-height: 1.375rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
}
.CTAContent{
    margin-bottom: 1rem;    
}
.ButtonPrimary{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: $secondary-color;
    color: $bg-color;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
}

.HeroImage{
    display:flex;
    align-items: center;
    justify-content: center;
}
.HeroImage img{
    width: 301px;
    height: auto;
}

.StepsContainer{
    margin: 0 20px;
}
.SectionTitle{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.StepsContent{
    display: flex;
}
.StepsFold{
    display: flex;
    flex-direction: column;  
}
.Step{
    display: flex;
    margin-bottom: 3rem;
}
.StepIcon{
    padding-right: 1rem;
    width: 40px;
    height: auto;
}
.StepLink{
    text-decoration: none;
    color: $secondary-color;
    font-weight: 700;
}

.StepText{
    font-size: 1rem;
    line-height: 1.375rem;
}
.Gallery{
    margin-bottom: 2rem;
}
.GalleryContent{
    display: flex;
    flex-direction: column;

}
.ImageSlider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.GalleryContainer{
    margin: 0 20px;
}

.GalleryImage img{
    width: 280px;
    height: auto;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
.GalleryLink {
    font-size: 1rem;
    font-weight: 200;
    align-self: center;
    color: inherit;
    text-decoration: none;
}
.TestimonialsContainer{
    margin: 0 20px;
    
}
.Testimonial{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.TestimonialsGrid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.TestimonialText {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 200;
    margin-bottom: 0.25rem;
}
.TestimonialAuthor {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 200;
    text-align: right;
}
.CauseContainer{
    margin: 0 20px;
}

.OrganizationsText{
    
    line-height: 1.25rem;
    font-weight: 200;
    font-size: 1rem;
}

.OrganizationsGrid{
    background-color: $text-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    row-gap: 1rem;
    border-radius: 0.5rem;
}

.Oceana img{
    width: 111px;
    height: auto;
}
.NRDC img{
    width: 68px;
    height: auto;
}
.OC img{
    width: 111px;
    height: auto;
}
.SL img{
    width: 88px;
    height: auto;
}

.SectionSubTitle{
    color: $main-color;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.Donation{
    margin-top: 2rem;
}
.DonationText{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
.DonationContent{
    display: flex;
    flex-direction: column;
}
.DonationLabel{
    font-size: 1rem;
    line-height: 1.25rem;
    
}
.NGOList{
    color: $main-color;
    font-weight: 700;
    text-decoration: none;
}

.StaticDonation{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.DonationOption{
    background-color: inherit;
    width: 58px;
    height: 37px;
    color: $text-color;
    border: 4px solid $main-color;
    border-radius: 0.5rem;
    font-weight: 700;
}

.AlternativeDonationText{
    align-self: center;
    margin-bottom: 1rem;
}

.CustomDonation{
    align-self: center;
    width: 100%;
}

.DonationInput{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 4px solid $main-color;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    &::placeholder{
        font-family: "Inter";
        color: $text-color;
    }
}

.DonationSubmit{
    width: fit-content;
    background-color: $main-color;
    border: none;
    width: 130px;
    border-radius: 0.5rem;
    height: 50px;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.CauseStats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    place-items: center;
    background-color: $secondary-color;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.StatItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FooterContainer{
    margin: 0 20px;
}
.FooterSection{
    margin: 1rem 0;
}
.FooterGrid{
    display: grid;
    grid-template-columns: 1fr;
}
.FooterList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FooterHeading{
    
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.FooterItem{
    margin-bottom: 0.5rem;
}
.FooterLink{
    color: $text-color;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}

.NewsletterContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.NewsletterTitle{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.NewsletterHeading{
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;

}
.NewsletterEmail{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 4px solid $main-color;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    &::placeholder{
        font-family: "Inter";
        color: $text-color;
    }
}
.NewsletterSubmit{

    background-color: $main-color;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    height: 50px;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.GetInTouch, .Work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.SectionLink{
    box-sizing: border-box;
    text-align: center;
    border: 4px solid $main-color;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: inherit;
    width: 187px;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: $text-color;
}
.Copyright{
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}