@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/fonts/Inter-VariableFont_slnt,wght.woff2"), format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

html {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25rem;
}

.no-show {
  display: none;
}

body {
  background-color: #000000;
}

.Header {
  margin-top: 24px;
}

.HeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.LogoImage {
  -webkit-filter: drop-shadow(6.62498px 4.41665px 2.20833px rgba(233, 124, 215, 0.5));
          filter: drop-shadow(6.62498px 4.41665px 2.20833px rgba(233, 124, 215, 0.5));
  width: 60px;
  border-radius: 0.9rem;
  height: auto;
}

.LogoImage:hover {
  -webkit-filter: invert(56%) sepia(39%) saturate(354%) hue-rotate(142deg) brightness(95%) contrast(92%) drop-shadow(6.62498px 4.41665px 2.20833px rgba(99, 159, 171, 0.5));
          filter: invert(56%) sepia(39%) saturate(354%) hue-rotate(142deg) brightness(95%) contrast(92%) drop-shadow(6.62498px 4.41665px 2.20833px rgba(99, 159, 171, 0.5));
}

.ToggleNav {
  background: none;
  border: none;
}

.ToggleNav:hover {
  cursor: pointer;
  -webkit-filter: invert(74%) sepia(78%) saturate(1735%) hue-rotate(276deg) brightness(97%) contrast(87%);
          filter: invert(74%) sepia(78%) saturate(1735%) hue-rotate(276deg) brightness(97%) contrast(87%);
}

.Hero {
  margin: 2rem 0;
}

.HeroContainer {
  margin: 0 20px;
}

.MainHeading {
  line-height: 2.25rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.HeroText {
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 200;
}

.CTAContent {
  margin-bottom: 1rem;
}

.ButtonPrimary {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: #639fab;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.ButtonPrimary:hover {
  cursor: pointer;
  background-color: #e97cd7;
  color: #ffffff;
}

.HeroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HeroImage img {
  width: 301px;
  height: auto;
}

.StepsContainer {
  margin: 0 20px;
}

.SectionTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.StepsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.StepsFold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.StepIcon {
  padding-right: 1rem;
  width: 40px;
  height: auto;
}

.StepLink {
  text-decoration: none;
  color: #639fab;
  font-weight: 700;
}

.StepLink:hover {
  cursor: pointer;
  color: #e97cd7;
}

.StepText {
  font-size: 1rem;
  line-height: 1.375rem;
}

.Gallery {
  margin-bottom: 2rem;
}

.GalleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ImageSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.GalleryContainer {
  margin: 0 20px;
}

.GalleryImage img {
  width: 280px;
  height: auto;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.GalleryLink {
  font-size: 1rem;
  font-weight: 200;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: inherit;
  text-decoration: none;
}

.GalleryLink:hover {
  cursor: pointer;
  color: #639fab;
  font-weight: bold;
}

.TestimonialsContainer {
  margin: 0 20px;
}

.Testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.TestimonialsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 1rem;
}

.TestimonialText {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.TestimonialAuthor {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 200;
  text-align: right;
}

.CauseContainer {
  margin: 0 20px;
}

.OrganizationsText {
  line-height: 1.25rem;
  font-weight: 200;
  font-size: 1rem;
}

.OrganizationsGrid {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  place-items: center;
  padding: 1rem 0;
  margin: 1rem 0;
  row-gap: 1rem;
  border-radius: 0.5rem;
}

.Oceana img {
  width: 111px;
  height: auto;
}

.NRDC img {
  width: 68px;
  height: auto;
}

.OC img {
  width: 111px;
  height: auto;
}

.SL img {
  width: 88px;
  height: auto;
}

.SectionSubTitle {
  color: #e97cd7;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.Donation {
  margin-top: 2rem;
}

.DonationText {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.DonationContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DonationLabel {
  font-size: 1rem;
  line-height: 1.25rem;
}

.NGOList {
  color: #e97cd7;
  font-weight: 700;
  text-decoration: none;
}

.NGOList:hover {
  cursor: pointer;
  color: #639fab;
}

.StaticDonation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.DonationOption {
  background-color: inherit;
  width: 58px;
  height: 37px;
  color: #ffffff;
  border: 4px solid #e97cd7;
  border-radius: 0.5rem;
  font-weight: 700;
}

.SelectedOption {
  background-color: #e97cd7;
  color: #000000;
}

.AlternativeDonationText {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.CustomDonation {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.DonationInput {
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid #e97cd7;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: inherit;
}

.DonationInput::-webkit-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.DonationInput:-ms-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.DonationInput::-ms-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.DonationInput::placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.DonationInput:focus {
  outline: none;
}

.DonationSubmit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e97cd7;
  border: none;
  width: 130px;
  border-radius: 0.5rem;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.DonationSubmit:hover {
  cursor: pointer;
  background-color: #639fab;
  color: white;
}

.CauseStats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 1rem;
  place-items: center;
  background-color: #639fab;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.StatItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FooterContainer {
  margin: 0 20px;
}

.FooterSection {
  margin: 1rem 0;
}

.FooterGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.FooterList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FooterHeading {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.FooterItem {
  margin-bottom: 0.5rem;
}

.FooterLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  font-size: 1rem;
}

.FooterLink:hover {
  color: #e97cd7;
}

.NewsletterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.NewsletterTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.NewsletterHeading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.NewsletterEmail {
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: 4px solid #e97cd7;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: inherit;
}

.NewsletterEmail::-webkit-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.NewsletterEmail:-ms-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.NewsletterEmail::-ms-input-placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.NewsletterEmail::placeholder {
  font-family: "Inter";
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.NewsletterEmail:focus {
  outline: none;
}

.NewsletterSubmit {
  background-color: #e97cd7;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.NewsletterSubmit:hover {
  cursor: pointer;
  background-color: #639fab;
  color: white;
}

.GetInTouch,
.Work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.SectionLink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 4px solid #e97cd7;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: inherit;
  width: 187px;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.SectionLink:hover {
  background-color: #639fab;
  border: 4px solid #639fab;
  color: #000000;
}

.Copyright {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */